@{
    ViewData["Title"] = "Тут может быть Ваша политика конфиденциальности!";
}
<h1>@ViewData["Title"]</h1>

<p>
    Настоящая Политика конфиденциальности персональных данных (далее - Политика
    конфиденциальности) разработана в соответствии с положениями Конституции Российской
    Федерации, Федерального закона от 27 июля 2006 г. N 149-ФЗ "Об информации, информационных
    технологиях и о защите информации", Федерального закона от 27 июля 2006 г. N 152-ФЗ "О
    персональных данных" (далее - Закон о персональных данных) и иными нормативными правовыми
    актами в области защиты и обработки персональных данных, действующими на территории
    Российской Федерации и относится к сайту, расположенному по адресу: https://localhost:7152/
    (далее - Сайт).
    Использование сервисов Сайта означает безоговорочное согласие Пользователя с настоящей
    Политикой и указанными в ней условиями обработки его персональной информации; в случае
    несогласия с этими условиями Пользователь должен воздержаться от использования сервисов.
    В настоящей Политике конфиденциальности используются следующие понятия:
    - Сайт - это интерактивный набор страниц, расположенный на доменном имени https://localhost:7152/;
    - Пользователь сайта - физическое лицо, пользователь услуг сайта, субъект персональных
    данных, добровольно зарегистрировавшийся на сайте и предоставивший необходимые
    персональные данные при регистрации;
    - Персональные данные - любая информация, относящаяся к прямо или косвенно
    определенному или определяемому физическому лицу (субъекту персональных данных);
    - Обработка персональных данных - любое действие (операция) или совокупность действий
    (операций), совершаемых с использованием средств автоматизации или без использования таких
    средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение,
    уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
    предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
    данных.
</p>
